.table-responsive
	table.table.table-hover
		thead
			tr
				th(scope='col')
				th(scope='col') Action
		tbody
			tr
				th(scope='row') Population à couvrir par l'équipe mobile
					td
						a.link-primary.text-decoration-none modifier